*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header{
    
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(66, 65, 65);
}

.navegacao{
    align-items: center;
    margin: 2%;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 10px 6px;
}

.navegacao a img{
    background-size: cover;
    width: 60%;
}

.navegacao2{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 30px;
}

.navegacao2 li a{
    transition: 0.5s;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navegacao2 button{
    color: white;
    background-color: rgb(62, 141, 62);
    border: none;
    padding: 15px 18px;
    border-radius: 5px;
    font-size: medium;
    transition: 1s;
}

.navegacao2 a:hover{
    color: rgb(119, 119, 119);
    font-size: 15px;
}

.navegacao2 button:hover{
    color: rgb(62, 141, 62);
    font-size: large;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border: 2px;
    border-color: rgb(62, 141, 62);
}

.main_banner{
    background-image: url('../img/mainbanner.png');
    background-size: cover;
    background-position: center;
    padding: 23.3em 0;
    position: relative;
    color:white;
    text-align: center;
    font-weight: bold;
}

.main_banner p{
    font-size: 34px;
}

.main_banner h1{
    font-size: 54px;
}

.container_planos{
    text-align: center;
    padding-bottom: 10px;
}

.container_planos h1{
    font-size: 40px;
}

.container_planos p{
    font-size: 36px;
}

.container_precos{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    
}

.planos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.planos ul{
    flex: 1 1 200px;
    max-width: 400px;
    margin-left: 2%;
    margin-right: 2%;
}

.planos ul li{
    padding: 7%;
    list-style: none;
    color: rgb(32, 32, 32);
    font-size: large;
    
    background-color: rgb(192, 192, 192);
}

.planos .preco{
    margin-top: 20px;
    color: white;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(98, 223, 98);
    border-radius: 50%;
    height: 100px;
    width: 120px;
    line-height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -50px;
    position: relative;
}

.planos .nome_plano{
    border-radius: 10px 10px 0 0;
    color: white;
    font-weight: bold;
    background-color: rgb(64, 86, 111);
    height: 60px;
    font-size: 20px;
    padding-top: 30%;
}

.planos .botao_plano{
    border-radius: 0 0 10px 10px;
    background-color: rgb(98, 123, 223);
    color: white;
    font-size: larger;
    font-weight: bold;
}

.planos ul:hover{
    flex: 1 1 220px;
    margin-top: -30px;
}

.planos ul:hover .botao_plano{
    background-color: rgb(98, 223, 98);
}

.busca_dominio{
    padding: 2%;
    display: flex;
    gap: 5%;
    flex-direction: column;
    height: 400px;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    background-color: rgb(64, 86, 111);
    color: white;
}

.busca_dominio h2{
    font-size: 40px;
}

.busca_dominio p{
    font-size: 30px;
    margin-bottom: 2%;
}

.procura_dominio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.procura_dominio input[type=text]{
    width: 60%;
    min-width: 200px;
    height: 70px;
    padding-left: 2%;
    font-size: large;
    border-style: none;
    border-radius: 15px;
    margin-bottom: 2%;
}

.procura_dominio input[type=submit]{
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    background-color: rgb(98, 223, 98);
    height: 80px;
    width: 15%;
    min-width: 150px;
    font-size: large;
    font-weight: bold;
}

.procura_dominio input[type=text]:hover{
    height: 90px;
    width: 63%;
    font-size: 20px;
}



