

.titulos{
    text-align: center;
    margin: 5%;
    font-size: 20px;
}

.titulos h1{
    color: #558C03;
}

.titulos h3{
    color: #222601;
}

.fotos{
    border-radius: 10px;;
    background-color: rgba(128, 128, 128, 0.469);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 2% 1%;
    
}

.animais{
    border-radius: 5px;
    background-color: white;
    margin: 2.3% 2.3% 2%;
    max-height: 60vh;
    width: 20%;
    border: #222601 solid 2px;
    background-size: contain;
    font-family: Arial;
}

.animais img{
    height: 55%;
    width: 100%;
}

.animais p{
    margin: 5% 4%;
    text-align: justify;
    font-size: 100%;
}

.animais h1{
    color: #384001;
    text-align: center;
}
